<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Products Server</title>
  </head>
  <body>
    <h1>Welcome to <%= name %>'s product server.</h1>
    <p><b>Some characteristics of it.</b></p>
    <ol>
      <% for (item of data) { %>
      <li><%= item %></li>
      <% } %>
    </ol>
  </body>
</html>
